# Node
**/node_modules
**/npm-debug.log*

# Versioning
.git
.github
.gitignore

# Jest/Tests
**/coverage
**/jest.config.js
**/tests

# Env
**/.env*
!**/.env.example

# Project
README.md
**/Dockerfile*
**/*.log

# Docker
**/.dockerignore
**/docker-compose.yaml

# MacOS
**/.DS_Store

# IDE
.vscode
.idea

# AI
.claude
